/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

section.courses {
  padding: 20px;
}

.course {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.course h3 {
  color: #3498db;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
